.fond-haut {
  width: 100%;
  height: 750px;
  background-size: cover;
  background-image: url('../images/fond.webp');
}

.fond-bas {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url('../images/fond_bas.webp');
}

.hover-link:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.18389362580969892) 0%, rgba(141, 35, 112, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.gay-square {
  height: 100px;
  background-color: #8D2370;
  clip-path: polygon(25% 0%, 100% 0%, 95% 100%, 19% 100%);
}


.big-diagonal-left {
  height: 200px;
  background-image: url('../images/graphisme/72h_book_72_dpi.webp');;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 89% 100%, 0% 100%);
}
.small-diagonal-right {
  height: 200px;
  background-image: url('../images/graphisme/grenier_book.webp');;
  background-size: cover;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.medium-diagonal-left {
  height: 200px;
  background-image: url('../images/graphisme/brisset_book.webp');;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 86.5% 100%, 0% 100%);
}
.medium-diagonal-right {
  height: 200px;
  background-image: url('../images/graphisme/roc_bihan_book.webp');;
  background-size: cover;
  clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.small-diagonal-left {
  height: 200px;
  background-image: url('../images/graphisme/nomad_book.webp');;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 83% 100%, 0% 100%);
}
.big-diagonal-right {
  height: 200px;
  background-image: url('../images/graphisme/charleen_book.webp');;
  background-size: cover;
  clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.kill-me-left {
  height: 300px;
  background-color: #8D2370;
  clip-path: polygon(0% 0%, 100% 0%, 55% 100%, 0% 100%);
  transform: translateX(32px) scale(1.3, 1);
  width: 16vw;
}
.kill-me-to {
  height: 300px;
  background-color: #8D2370;
  clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);

  width: 24vw;
}
.kill-me {
  height: 300px;
  background-color: #8D2370;
  transform: translateX(20px) scale(1.3, 1);
  clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);

  width: 24vw;
}
.kill-me-right {
  height: 300px;
  background-color: #8D2370;
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: translateX(10px) scale(1.3, 1);
  width: 18vw;
}

.zoomed {
    background-size: 100%;
    transition: all 0.4s ease-in-out;
}

.zoomed:hover {
    background-size: 105%;
}
